* { 
    
    margin: 0px; 
    padding: 0px; 
}

@font-face { 
    
    font-family: pixelada; 
    src: url("../fonts/04B_30__.TTF"); 
}

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(127, 255, 212, 0.39);
    height: 100vh;
}

main.caixa-mae {
    
    font-family: pixelada;
    width: 500px;
}

div.resultado {

    text-align: center;
    padding: 5%; 
    background-color: rgba(90, 58, 119, 0.945);
}

.resultado h1 {

    color: wheat;
}

div.notas {

    background-color: 
    rgba(123, 173, 173, 0.966); 
}

.notas label {

    display: block; 
    padding: 5% 0px 0px 4%; 
    position: relative; 
    font-size: 200%; 
    color: aliceblue;
}

.notas input.nota {

    border: none; 
    position: absolute; 
    right: 5%; 
    padding: 2%; 
    font-size: 100%;
    width: 25%;
    font-family: inherit;
}

input.nota, select.peso {


    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    border-radius: .25em
}

div.select {

    position: relative;
    display: block;
    width: 2em;
    height: 2em;
    line-height: 3;
    overflow: hidden;
    

}

.notas select.peso {

    border: none;
    position: absolute;
    left: 2%;
    top: 10%;
    text-align: left;
    font-size: 80%;
    width: 100%;
    border-radius: 5px;
    font-family: inherit;


    padding: .15em .5em .15em .2em;
    cursor: pointer;
}

select.peso::-ms-expand {

    display:none;
}


.select::after {

    content: '\25BC';
    position: absolute;
    top: -40%;
    left: 1%;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {

    color: cornflowerblue;
}

input.envio {
    margin-bottom: 10%;
    padding: 10px 20px;
    font-size: 24px;
    background-color: rgba(90, 58, 119, 0.945);;
    border: 2px solid rgb(20, 80, 80);
    border-radius: 50px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    outline: 0;
    position: relative;
    left: 60%;
    
    
}

input.envio:hover {

    background-color: rgba(127, 255, 212, 0.39);
    color: rgb(12, 10, 8);
    
}

@media screen and (max-width: 600px){
    
    .caixa-mae {
        width: 300px;
    }

    .notas label{
        text-align: center;
        font-size: 180%;
    }

    .notas input.nota {
        display: block;
        position: absolute; 
        top: 50%;
        font-size: 100%;
        right: 9%; 
        padding: 2.5%; 
        width: 50%;

    }

    .notas div.select {

        text-align: right;
        width: 80px;
    }

    
    .select::after {

        content: '\25BC';
        position: absolute;
        top: -27%;
        left: 5%;
        padding: 0 1em;
        cursor: pointer;
        pointer-events: none;
        transition: .25s all ease;
    }

    .select:hover::after {

        color: cornflowerblue;
    }

    .notas select.peso {

        position: absolute;
        left: 2%;
        top: 10%;
        padding: 10px;
        font-size: 80%;
        width: 80%;
        font-family: inherit;

    }

    input.envio {
        margin-bottom: 10%;
        padding: 10px 20px;
        position: relative;
        left: -5%;
        
        
    }
}