body {
    background: #681a1a;
    font: normal 15pt Arial;
    margin-left: 5vw;
}


#section11 { 
    text-align: center;
    box-sizing: border-box;
    width: 55vw;
    max-width: 400px;
    margin: left;
    box-sizing: border-box;
}

#headere1 {
    color: oldlace;
    font-size: 15pt;
}

#section1 {
    background: rgb(214, 214, 214);
    border-radius: 10px;
    padding: 15px;
    width: 55vw;
    max-width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}

#fot {
    text-align: center;
    padding: 7px;
}

#msg {
    text-align: center;

}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
#section22{
    font-size: 15pt;   
    text-align: center;
    width: 50vw;
    max-width: 220px;
}

#header2 {
    color: oldlace;
}

#section2 {
    background: rgb(214, 214, 214);
    text-align: left;
    border-radius: 10px;
    padding: 15px;
    width: 50vw;
    max-width: 220px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    box-sizing: border-box;
    margin-right: 30px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
#section33{
    font-size: 15pt;   
    text-align: center;
    margin-top: 30px;
    width: 50vw;
    max-width: 220px;
}

#header3 {
    color: oldlace;
}

#tab {
    text-align: left;
    padding: 7px;
}

#section3 {
    box-sizing: border-box;
    text-align: left;
    background: rgb(214, 214, 214);
    border-radius: 10px;
    padding: 15px;
    width: 50vw;
    max-width: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}


footer{
    color: white;
    font-style: italic;
}
