body {
    background: #681a1a;
    font: normal 15pt Arial;
}


#section11 {
    text-align: center;
}

#headere1 {

    color: oldlace;
    text-align: center;
    font-size: 15pt;
}

#section1 {
    background: rgb(214, 214, 214);
    border-radius: 10px;
    padding: 15px;
    width: 55vw;
    max-width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}

#msg {
    text-align: center;
    padding: 7px;
}

#fot {
    text-align: center;
    padding: 7px;
}






#section22{
    float: left;
    font-size: 15pt;   
    margin-left: 10%;
    text-align: center;
}

#header2 {
    color: oldlace;
}

#section2 {
    background: rgb(214, 214, 214);
    text-align: left;
    border-radius: 10px;
    padding: 15px;
    width: 40vw;
    max-width: 220px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    box-sizing: border-box;
    margin-right: 30px;
}







#section33{
    float: right;
    margin-right: 10%;
    font-size: 15pt;   
    text-align: center;
}

#header3 {

    color: oldlace;
    text-align: center;
}

#section3 {
    text-align: left;
    box-sizing: border-box;
    background: rgb(214, 214, 214);
    border-radius: 10px;
    padding: 15px;
    width: 40vw;
    max-width: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}

footer{
    color: white;
    font-style: italic;
}
