* {

    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {

    background-color: aquamarine;
    width: 500px;
    padding: 10px;
}

.caixa-preta {

    margin: 5% 10%;
}

label[for=aposta] {

    font-weight: bolder;
    font-size: 120%;
    margin: 5% 15%;
}

.aposta {


}

.sorteio {

    float: right;
    margin-right: 21%;
    padding: 0.5%;
    font-size: 150%;
}