* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
    color:darksalmon;
}

header {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    padding: 10pt 30px;

    background-color: cornflowerblue;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    display: grid;
    grid-template: auto auto / auto auto;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 30px;

    margin: 10px;

    border-radius: 5px;

    font-size: 15pt;
    
    background-color: whitesmoke;
}

.section {
    display: flex;
    justify-content: space-around;
    height: 300px;
}

.outher {
    flex-direction: row-reverse;
    background-color: teal;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 450px;
}

.description p {
    margin: 10px;
    font-size: 13.5pt;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 300px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 25px;

    font-size: 16pt;

    background-color: brown;
    color: whitesmoke;
}