* {
    font-family: Pixel;
    margin: 0;
    padding: 0;    
}

@font-face {
    font-family: Pixel;
    src: url(../fonts/04B_30__.TTF);
}


body {
    position: relative;
    background: rgb(36, 38, 129) url(https://c.wallhere.com/photos/52/1c/digital_art_pixel_art_pixelated_pixels_nature_landscape_Shovel_Knight_video_games-24164.jpg!d) center/cover no-repeat;
}

section.exercicio-1 {

    max-width: 820px;
    height: 540px;
    margin: auto;
    position: relative;
    text-align: center;

}

.exercicio-1 header.hora-do-dia {

    position: absolute;
    top: 10%;
    left: 0%;

    color: rgb(151, 151, 151);
    
}

.hora-do-dia h1 {

    font-size: 250%;
}


/*------------------Segunda Parte----------------------*/

section.exercicio-2 {

    margin: auto;
    font-size: 15pt;   
    width: 30vw;
    
}

.exercicio-2 header.cabecalho {

    text-align: center;
    color: rgb(247, 245, 241);
}

section.contagem {

    background: rgba(214, 214, 214, 0.116);
    text-align: left;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    box-sizing: border-box;
    margin-right: 30px;
}

div.contagem {

    
    
}

div.contagem label {

    color: white;
    display: block;
    
}

div.contagem input {

    float: right;
}

div#dados {
    color: white
}

/*Teceira Parte*/
#section33{
    font-size: 15pt;   
    text-align: center;
    margin-top: 30px;
    width: 50vw;
    max-width: 220px;
}

#header3 {
    color: oldlace;
}

#tab {
    text-align: left;
    padding: 7px;
}

#section3 {
    box-sizing: border-box;
    text-align: left;
    background: rgb(214, 214, 214);
    border-radius: 10px;
    padding: 15px;
    width: 50vw;
    max-width: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}


footer{
    color: white;
    font-style: italic;
}
