body {
    background: #681a1a;
    font: normal 15pt Arial;
}

header {

    color: oldlace;
    text-align: center;
}

section {
    background: rgb(214, 214, 214);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

