@font-face {

    font-family: flower;
    src: url("")
}

*{
    padding: 0;
    margin: 0;
    font-family: flower, Arial, sans-serif;
    
}



body {
    display: flex; 
    box-sizing: border-box;
    flex-flow: column wrap;
    align-items: center;
    background-color: #a71a5b;
}

main {
    max-width: 1000px;
    position: absolute;

}

a {
    color: #a71a5b;
    text-decoration: none;
    transition: all 0.35s linear;

}

a:hover {

    font-size: 105%;
}

#topMenu {

    display: flex;    
    height: 60px;
    background-color: #663366;
}

#topMenu ul {

    align-content: center;
    
    display: flex;
}


#topMenu li {

    color: white;
    font-size: large;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

#topMenu li:first-child {

    margin-right: auto;
}

#topMenu li a {
    color: azure;
}

#logo {

    height: 10px;
}





.section-one {

    background-color: azure;
    height: 20vh;
}

.section-one h1, .section-one h2 {

    padding: 15px;
}

.one {

    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
}


.centralize .resumo {

    
}


.section {

    display: flex;
    background-color: #ffff;
    width: 100%;
    height: 350px;

}

.section table {

    width: 100%;
    margin: 50px;
    
}

.section li {

    margin: 0.3em 0em 0em 1em;
    text-decoration: none;
    display: block;

}

.section img {

    width: 240px;
} 

.pictures {

    width: 150px;
    margin: 30px;
    text-align: center;

}

.section li, .section h2 {
    padding: 0.4em;

}

.two {

    background-color: #c7babf;
}



footer{

    display: flex;
    font-size: 22px;
    height: 33px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: #663366;
}

.projeto {

    width: 230px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgba(245, 245, 220, 0.479);
    position: absolute;
    text-align: center;
    top: 45px;
    right: 45px;
}

.projeto:hover {
    background-color: rgba(245, 245, 220, 0.945);
}

.projeto a {

    font-size: 14pt;
    width: 100%;
    height: 100%;
    transition: all 0.35s linear;

}

.projeto a:hover {

    font-size: 15.44pt;

}
