*{
    padding: 0;
    margin: 0;
    font-family: "Russo One", Arial, sans-serif;
    
}



body {
    display: flex; 
    box-sizing: border-box;
    flex-flow: column wrap;
    align-items: center;
    background-color: #a71a5b;
}

main {
    max-width: 1000px;
    position: absolute;

}

.caixa {

    position: relative;

}

#logo {

    position: relative;
    overflow: hidden;
}

#logo:after {

    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 5px;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    transform: translateX(-110%);
    
}


@keyframes fadeInText {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.vem:after {
    animation: enlargeBlock .5s .0s both, revealBlock .5s .5s both;
}


.fui {
    animation: fadeInText 0s .5s both;
}


@keyframes revealBlock {

    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(110%);
    }
}


@keyframes enlargeBlock {

    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}



.fui-1 {
    animation: TextInfade 0s .5s both;
}

@keyframes TextInfade {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.vem-1:after{

    animation: Blockenlarge .5s .0s both, Blockreveal .5s .5s both;
}

@keyframes Blockreveal {

    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(110%);
    }
}


@keyframes Blockenlarge {

    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


a {
    color: #a71a5b;
    text-decoration: none;
    transition: all 0.35s linear;

}

.link-animado:hover {

    font-size: 105%;
}

.paragrafo {
    width: 70%;
    font-size: 13.13pt;
}

#topMenu {

    display: flex;    
    height: 50px;
    background-color: #663366;
}

#topMenu ul {

    align-content: center;
    
    display: flex;
}


#topMenu li {

    color: white;
    font-size: large;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    position: relative;
}

#topMenu li:first-child {

    margin-right: auto;
}

#topMenu li a {
    color: azure;
}

#logo {

    height: 10px;
}

.description {

    background-color: azure;
    height: 20vh;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.titles h1, .titles h2 {

    padding: 15px;
}

.description p {

    width:60%; 
    padding-right: 15pt; 
    text-align: justify ;
}

.section {

    display: grid;
    grid-template: auto  / auto auto;
    background-color: rgb(212, 79, 79);
    width: 100%;
    height: 350px;

}

.section .img {

    margin: auto;
    
}

.img img {

    width: 200px;
}

.section .project-description {
    margin: auto;
} 


footer{

    display: flex;
    font-size: 22px;
    height: 33px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: #663366;
}

